<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitBook - Prenotazione</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
       <style></style>
</head>
<body>
    <!-- Header con Hamburger Menu -->
    <header>
        <div class="logo">FitBook</div>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <nav id="navMenu">
            <a href="#" onclick="showForm('home')">Home</a>
            <a href="#" onclick="checkLogin('prenotazione')">Effettua Prenotazione</a>
            <a href="#" onclick="checkLogin('mostraPrenotazioni')">Mostra Prenotazioni</a>
            <a href="#" onclick="checkLogin('acquista')">Acquista</a>
            <a href="#" onclick="showForm('login')">Login</a>
            <a href="#" onclick="effettuaLogout()">Logout</a>
        </nav>
    </header>

    <!-- Contenuto principale -->
    
<div class="container">
        <!-- Home -->
        <div id="home" class="form-container">
            <h1>Benvenuto su FitBook</h1>
            <div class="welcome-text" id="welcomeMessageHost" style="display: block;">
                <p>Prenota la tua sessione in palestra, gestisci le tue prenotazioni e acquista abbonamenti.</p>
                <p>Se non sei ancora registrato, <a href="#" onclick="showForm('login')">clicca qui per accedere o registrarti</a>.</p>
            </div>
            <div class="welcome-text" id="welcomeMessage" style="display: none;">
                <p>Ciao, <span id="userName"></span>! Benvenuto su FitBook.</p>
            </div>
        </div>

        <!-- Form Effettua Prenotazione -->
        <div id="prenotazione" class="form-container" style="display: none;">
            <h1>Effettua Prenotazione</h1>
            <form id="prenotazioneForm" onsubmit="effettuaPrenotazione(event)">
                <input type="text" id="name" name="name" value="userName" display="none">

                <label for="date">INSERISCI DATA:</label>
                <input type="date" id="date" name="date" required>

                <input type="submit" value="CERCA">
            </form>
            <br>
            <div id="availableSeats" class="form-container" style="display: none;">
                <h1>Corsi Disponibili</h1>
                <table id="availableSeatsTable">
                    <thead>
                        <tr>
                            <th>Corso</th>
                            <th>Posti Disponibili</th>
                            <th>Orario</th>
                            <th>Durata</th>
                            <th>Trainer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- POSTI DISPONIBILI -->
                    </tbody>
                </table>
            </div>
            <br>
            <!--h1>Le tue Prenotazioni</h1>
            <table id="prenotazioniTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>-->
        </div>

        <!-- Tabella Mostra Prenotazioni -->
        <div id="mostraPrenotazioni" class="form-container" style="display: none;">
            <h1>Le tue Prenotazioni</h1>
            <table id="prenotazioniTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Le prenotazioni verranno caricate qui dinamicamente -->
                </tbody>
            </table>
        </div>

        <!-- Form Acquista Abbonamento -->
        <div id="acquista" class="form-container" style="display: none;">
            <h1>Acquista Abbonamento</h1>
            <form id="acquistaForm" onsubmit="effettuaAcquisto(event)">
                <label for="abbonamento">Seleziona durata abbonamento:</label>
                <select id="abbonamento" name="abbonamento" required>
                    <option value="1">1 Mese - €30</option>
                    <option value="2">2 Mesi - €55</option>
                    <option value="3">3 Mesi - €80</option>
                    <option value="12">12 Mesi - €300</option>
                </select>

                <input type="submit" value="Acquista">
            </form>
        </div>

        <!-- Form Login -->
        <div id="login" class="form-container" style="display: none;">
            <h1>Login</h1>
            <form id="loginForm" onsubmit="effettuaLogin(event)">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Accedi">
            </form>
            <div class="switch-form">
                <p>Non sei ancora registrato? <a href="#" onclick="showForm('registrazione')">Registrati qui</a>.</p>
            </div>
        </div>

        <!-- Form Registrazione -->
        <div id="registrazione" class="form-container" style="display: none;">
            <h1>Registrazione</h1>
            <form id="registrazioneForm" onsubmit="effettuaRegistrazione(event)">
                <label for="firstname">Nome:</label>
                <input type="text" id="firstname" name="firstname" required>

                <label for="lastname">Cognome:</label>
                <input type="text" id="lastname" name="lastname" required>

                <label for="email">Email:</label>
                <input type="email" id="emailreg" name="email" required>

                <label for="birthdate">Data di nascita:</label>
                <input type="date" id="birthdate" name="birthdate" required>

                <label for="password">Password:</label>
                <input type="password" id="passwordReg" name="password" required>

                <input type="submit" value="Registrati">
            </form>
            <div class="switch-form">
                <p>Hai già un account? <a href="#" onclick="showForm('login')">Accedi qui</a>.</p>
            </div>
        </div>
    </div>

   
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
